[run]
; source =
omit =
    tests/*,

[report]
skip_empty = true
exclude_also =
    raise NotImplementedError

    ; don't complain abput abstract methods, they aren't run:
    @(abc\.)?abstractmethod